/MathParser/target/
/target/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/data/obj.data.t
/data/obj.data
/data/obj.data.p
/data/meta.data.t
/data/meta.data.p
/data/meta.data
/data/object.data.t
/data/object.data
/data/object.data.p
/data/index.data.t
/data/index.data.p
/data/index.data